[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "forestGYM"]
	path = forestGYM
	url = https://github.com/cran/forestGYM
[submodule "forestHES"]
	path = forestHES
	url = https://github.com/cran/forestHES
[submodule "forestPSD"]
	path = forestPSD
	url = https://github.com/cran/forestPSD
[submodule "forestSAS"]
	path = forestSAS
	url = https://github.com/cran/forestSAS
